<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>GitHub API Demo</title>

        <!-- hotlink to Bootstrap CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="css/main.css"/>

        <!-- local version of AngularJS, unminified so that you can read it -->
        <!-- This is loaded here instead of at the end of the body so that all the template syntax below will
            be hidden while the data is loaded out of the js/movies-2014.js file. If you put this at the end
            of the body instead, the user would see the template syntax briefly appear on the screen before
            the data was loaded and merged with the template -->
        <script src="lib/angular-1.3.1/angular.js"></script>
    </head>
    <body>
        <main class="container-fluid" ng-app="GitHubApp" ng-controller="GitHubController">
            <h1>GitHub Repos</h1>
            <p>
                <input type="text" class="form-control"
                       placeholder="enter your GitHub user name" ng-model="userName"/>
            </p>

            <p><button class="btn btn-primary" ng-click="getRepos()">Get Repos</button></p>

            <ul>
                <li ng-repeat="repo in repos">
                    {{repo.name}}
                </li>
            </ul>

        </main>

        <script src="js/github-app.js"></script>
    </body>
</html>